@model List<WidgetForm.Models.Widget>

@{
    ViewData["Title"] = "Home Page";
}

<div class="widgetContainer">

    <div id="widgetContainerHeader">
        <h2 class="boldFont">Widgets</h2>
        <a asp-controller="Home" asp-action="Add"><i class="fa-solid fa-plus"></i>Add Widget</a>
    </div>

    @if (Model != null && Model.Count > 0)
    {
        @foreach (var widget in Model) {
            <div id="widgetItem">
                <div>
                    <h3>@widget.Name</h3>
                    @if (widget.Type == WidgetType.One)
                    {
                        <p>Type 1, <em>@widget.Subtype</em></p>
                    } else if (widget.Type == WidgetType.Two)
                    {
                        <p>Type 2, <em>@widget.Subtype</em></p>
                    } else
                    {
                        <p>Type @widget.Type, <em>@widget.Subtype</em></p>
                    }
                    <p>@widget.Date, @widget.Time</p>
                </div>

                <i class="fa-solid fa-trash-can"></i>   @* TODO: implement DELETE *@
            </div>
        }
    } else
    {
        <h3 id="fallbackMessage">No widgets currently added.</h3>
    }

</div>